/* random num genrator */
/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
/* #mybutton{ */
    /* font-size: 3em;
    padding:5px 25px;
    border-radius: 5px;

} */ 
/* #mylabel{
    font-size: 3em;
} */

/* checked property */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}
#mysubmit{
    font-size: 1em;
}